@charset "UTF-8";
.section-title {
  margin-bottom: 25px;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 800;
}

section {
  padding: 50px 0;
}

span {
  color: #EE3D48;
}

h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 25px;
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  color: #ffffff;
  background: #EE3D48;
  font-weight: 600;
  font-size: 24px;
  padding: 20px 29px;
  -webkit-box-shadow: 0px 5px 12px #EE3D48;
          box-shadow: 0px 5px 12px #EE3D48;
  border-radius: 50px;
  cursor: pointer;
}

.main {
  color: #414042;
}

.main .introducing {
  background: url(../img/introducing/Самурай.svg) no-repeat top right 20%;
}

.main .introducing .container .introducing-text h2 {
  margin-bottom: 50px;
}

.main .introducing .container .introducing-text p {
  max-width: 41%;
}

.main .steps .container .section-title {
  margin-bottom: 50px;
}

.main .steps .container .steps-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .steps .container .steps-cards .card {
  position: relative;
  color: #ffffff;
  width: 270px;
  height: 170px;
  background: #EE3D48;
  -webkit-box-shadow: 0px 8px 10px rgba(181, 0, 2, 0.25);
          box-shadow: 0px 8px 10px rgba(181, 0, 2, 0.25);
  border-radius: 50px;
}

.main .steps .container .steps-cards .card p:first-child {
  padding: 0;
  font-size: 65px;
  margin-left: 10px;
}

.main .steps .container .steps-cards .card p {
  font-weight: 400;
  padding: 10px 0 0 24px;
}

.main .steps .container .steps-cards .card img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.main .portfolio .container .portfolio-text p {
  max-width: 51%;
  margin-bottom: 50px;
}

.main .portfolio .container .portfolio-video .portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 17px;
}

.main .portfolio .container .portfolio-video .portfolio-button img {
  margin-left: 23px;
}

.main .price .container .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .price .container .price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.main .price .container .price-list__item {
  background: #FBFBFB;
  -webkit-box-shadow: 1px 4px 20px rgba(65, 64, 66, 0.09);
          box-shadow: 1px 4px 20px rgba(65, 64, 66, 0.09);
  border-radius: 50px;
  max-width: 270px;
  padding: 45px 40px;
  margin: 0 86px 60px 0;
  position: relative;
}

.main .price .container .price-list__item .cost {
  font-size: 30px;
  min-height: 80px;
}

.main .price .container .price-list__item .cost span {
  font-size: 21px;
}

.main .price .container .price-list__item .type {
  color: #D6D6D6;
  margin-bottom: 18px;
  min-height: 50px;
}

.main .price .container .price-list__item ul {
  min-height: 252px;
}

.main .price .container .price-list__item ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 18px;
  margin-bottom: 8px;
}

.main .price .container .price-list__item ul li::before {
  position: absolute;
  top: 8px;
  left: -10px;
  width: 4px;
  height: 4px;
  background: #EE3D48;
  content: "";
}

.main .price .container .price-list__item .price-button {
  margin: 40px 0;
  font-size: 17px;
  padding: 10px 20px;
}

.main .price .container .price-list__item .deadline {
  color: #D6D6D6;
}

.main .price .container .price-list__item:nth-child(2) img {
  bottom: -40px;
  right: -50px;
}

.main .price .container .price-list__item:nth-child(3) {
  margin-right: 0;
}

.main .price .container .price-list__item:last-child {
  min-width: 100%;
  min-height: 0;
  margin-right: 60px;
  margin-bottom: 0;
}

.main .price .container .price-list__item:last-child ul {
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .price .container .price-list__item:last-child ul li {
  margin-right: 20px;
}

.main .price .container .price-list__item:last-child ul li::before {
  top: 8px;
}

.main .price .container .price-list__item:last-child .price-button {
  position: absolute;
  top: 0;
  right: 44px;
}

.main .price .container .price-list__item:last-child img {
  bottom: -118px;
  right: -61px;
}

.main .price .container .price-list__item img {
  position: absolute;
  bottom: -45px;
  right: -14px;
}

.main .reasons {
  padding: 4rem 0 2rem;
}

.main .reasons .container .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .reasons .container .reasons-list .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .reasons .container .reasons-list .reason-text {
  max-width: 47%;
}

.main .reasons .container .reasons-list .reason-text h4 {
  margin-bottom: 25px;
}

.main .reasons .container .reasons-list .reason-text p {
  font-size: 18px;
}

.main .reasons .container .reasons-list .reason-image img {
  max-width: calc(100% - 2%);
}

.main .quotation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .quotation .container .qav {
  font-size: 150px;
  color: #EE3D48;
}

.main .quotation .container .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .quotation .container .quote-text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 67%;
  text-align: center;
}

.main .quotation .container .quote-line {
  width: 270px;
  height: 1px;
  background: #000000;
  margin: 15px 0;
}

.main .reviews .container .reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .reviews .container .reviews-slider .left-arrow, .main .reviews .container .reviews-slider .right-arrow {
  cursor: pointer;
}

.main .reviews .container .reviews-slider .review-window {
  border: 1px solid #414042;
  width: 830px;
  height: 400px;
  margin: auto;
  margin: 0 60px;
  border-radius: 50px;
  overflow: hidden;
}

.main .reviews .container .reviews-slider .reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
}

.main .reviews .container .reviews-slider .reviews-list .review {
  min-width: 830px;
  height: 400px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 0px 20px rgba(65, 64, 66, 0.3);
          box-shadow: 0px 0px 20px rgba(65, 64, 66, 0.3);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .reviews .container .reviews-slider .reviews-list .review:first-child {
  z-index: 98;
}

.main .feedback {
  background: url(../img/feedback/речка.svg) no-repeat top 40% right 12%;
  padding: 2rem 0 4rem;
}

.main .feedback .container .feedback-form .form-input {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  border-bottom: 1px solid #414042;
  font-size: 16px;
  background: transparent;
  padding-bottom: 25px;
  outline: none;
  margin-bottom: 50px;
}

.form-input {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  border-bottom: 1px solid #414042;
  font-size: 18px;
  margin-top: 5px;
  outline: none;
  margin-bottom: 20px;
  min-width: 40%;
}

.form-input::-webkit-input-placeholder {
  color: #000000;
}

.form-input:-ms-input-placeholder {
  color: #000000;
}

.form-input::-ms-input-placeholder {
  color: #000000;
}

.form-input::placeholder {
  color: #000000;
}

.footer {
  color: #ffffff;
  background: #414042;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 3rem 0 1rem;
}

.footer .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .info .connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .info .connect .info-phone {
  margin-right: 50px;
}

.footer .container .info .social-sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .info .social-sites div {
  cursor: pointer;
}

.footer .container .info .social-sites .vk {
  margin: 0 10px;
}
/*# sourceMappingURL=main.css.map */